<div class="mt-4">
    <h3>Create course</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group mb-3">
            <label for="descripton" class="form-label">Descripton Course</label>
            <input type="text" class="form-control" id="descripton">
        </div>
        <div class="mb-3 form-group">
            <label for="name" class="form-label">Name Course</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="mb-3 form-group">
            <label for="slug" class="form-label">Slug Course</label>
            <input type="text" class="form-control" id="slug">
        </div>
        <div class="mb-3 form-group">
            <label for="image" class="form-label">Image Course</label>
            <input type="text" class="form-control" id="image">
        </div>
        <button type="submit" class="btn btn-primary">Add Course</button>
    </form>
</div>
<br>